#stacks_in_4_page5>.s3_row {
	margin: 0 -10px;
}

#stacks_in_4_page5>.s3_row>.s3_column_left {
	width: 40.00%;
}

#stacks_in_4_page5>.s3_row>.s3_column_right {
	width: 60.000000%;
}




#stacks_in_4_page5>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_4_page5>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_4_page5>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}






#stacks_in_4_page5 {
	border: solid rgba(255, 255, 255, 0.00);
	border-width: 0px 0px 20px 0px;
}
#stacks_in_13_page5>.s3_row {
	margin: 0 -10px;
}

#stacks_in_13_page5>.s3_row>.s3_column_left {
	width: 40.00%;
}

#stacks_in_13_page5>.s3_row>.s3_column_right {
	width: 60.000000%;
}




#stacks_in_13_page5>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_13_page5>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_13_page5>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}






#stacks_in_13_page5 {
	border: solid rgba(255, 255, 255, 0.00);
	border-width: 0px 0px 20px 0px;
}
#stacks_in_22_page5>.s3_row {
	margin: 0 -10px;
}

#stacks_in_22_page5>.s3_row>.s3_column_left {
	width: 40.00%;
}

#stacks_in_22_page5>.s3_row>.s3_column_right {
	width: 60.000000%;
}




#stacks_in_22_page5>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_22_page5>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_22_page5>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}






#stacks_in_22_page5 {
	border: solid rgba(255, 255, 255, 0.00);
	border-width: 0px 0px 20px 0px;
}
#stacks_in_31_page5>.s3_row {
	margin: 0 -10px;
}

#stacks_in_31_page5>.s3_row>.s3_column_left {
	width: 40.00%;
}

#stacks_in_31_page5>.s3_row>.s3_column_right {
	width: 60.000000%;
}




#stacks_in_31_page5>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_31_page5>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_31_page5>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}






#stacks_in_31_page5 {
	border: solid rgba(255, 255, 255, 0.00);
	border-width: 0px 0px 20px 0px;
}
#stacks_in_40_page5>.s3_row {
	margin: 0 -10px;
}

#stacks_in_40_page5>.s3_row>.s3_column_left {
	width: 40.00%;
}

#stacks_in_40_page5>.s3_row>.s3_column_right {
	width: 60.000000%;
}




#stacks_in_40_page5>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_40_page5>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_40_page5>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}






#stacks_in_40_page5 {
	border: solid rgba(255, 255, 255, 0.00);
	border-width: 0px 0px 20px 0px;
}
#stacks_in_49_page5>.s3_row {
	margin: 0 -10px;
}

#stacks_in_49_page5>.s3_row>.s3_column_left {
	width: 40.00%;
}

#stacks_in_49_page5>.s3_row>.s3_column_right {
	width: 60.000000%;
}




#stacks_in_49_page5>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_49_page5>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_49_page5>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}






#stacks_in_49_page5 {
	border: solid rgba(77, 77, 77, 0.00);
	border-width: 0px 0px 20px 0px;
}
#stacks_in_58_page5>.s3_row {
	margin: 0 -10px;
}

#stacks_in_58_page5>.s3_row>.s3_column_left {
	width: 40.00%;
}

#stacks_in_58_page5>.s3_row>.s3_column_right {
	width: 60.000000%;
}




#stacks_in_58_page5>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_58_page5>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_58_page5>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}






#stacks_in_58_page5 {
	border: solid rgba(77, 77, 77, 0.00);
	border-width: 0px 0px 20px 0px;
}
#stacks_in_67_page5>.s3_row {
	margin: 0 -10px;
}

#stacks_in_67_page5>.s3_row>.s3_column_left {
	width: 40.00%;
}

#stacks_in_67_page5>.s3_row>.s3_column_right {
	width: 60.000000%;
}




#stacks_in_67_page5>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_67_page5>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_67_page5>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}






#stacks_in_67_page5 {
	border: solid rgba(77, 77, 77, 0.00);
	border-width: 0px 0px 20px 0px;
}
#stacks_in_76_page5>.s3_row {
	margin: 0 -10px;
}

#stacks_in_76_page5>.s3_row>.s3_column_left {
	width: 40.00%;
}

#stacks_in_76_page5>.s3_row>.s3_column_right {
	width: 60.000000%;
}




#stacks_in_76_page5>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_76_page5>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_76_page5>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}






#stacks_in_76_page5 {
	border: solid rgba(77, 77, 77, 0.00);
	border-width: 0px 0px 20px 0px;
}
